
body{
  background-color: rgba(107, 229, 236, 0.613);
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.App {
  margin: auto;
  padding:2rem;
  margin-top: 3rem;
  text-align: center;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  max-width:500px;
  height: 80vh;
  background-color: rgb(161, 162, 162);
  border-radius: 1rem;
  flex: 1 0 50px;
  
}

h1{
  font-size: 4em;
  font-weight: 500;
  color:#222;
  letter-spacing: 5;
  cursor: pointer;
}
h1 span{
  transition: 0.5s;

}


  h1:hover span{
    color:#fff;
    text-shadow:0 0 10px #fff
    0 0 20px #fff
    0 0 40px #fff
    0 0 80px #fff
    0 0 20px #fff
    0 0 120px #fff
    0 0 160px #fff


  } 
  h1:hover span:nth-child(1):after{
    content:"\2661"
  }
.title{
  margin:0 auto;
}
.item{
  display: flex;
  align-items:center;
 

}
.addtask{
  margin-right: 1rem;
  margin-top: 1rem;
  width:22rem;
  border:1px solid #ccc;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  transition:box-shadow 0.1s linear;
  border-radius:.3rem;
  padding: 1rem;
  background-color: #fff;

}
input:focus,
button:focus{
  box-shadow: 2px 2px 4px 2px #888888;
  border: none;
  outline: none;
}
button{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border:1px solid #ccc;
   transition:box-shadow 0.1s linear;
  border-radius:.3rem;
  padding: 1rem;
  background-color: #fff;
}

